/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(106, 184, 106);
}



.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia */
    padding: 10px; /* Espaciado interno para el contenido */
    color: black !important; /* Cambiar el color del texto a negro */
    font-size: 20px !important; /* Aumentar el tamaño del texto a 20px */
}

.navbar-collapse {
    z-index: 1000; /* Ajusta el valor según sea necesario para asegurarte de que aparezca por encima de todo el contenido */
  }

  span.navbar-toggler-icon {
    color: black !important; /* Cambia el color a negro */
    z-index: 1000; /* Ajusta el valor según sea necesario para asegurarte de que aparezca por encima de todo el contenido */
  }

  #navbarScroll {
    padding: 10px;
  }

  #footer {
    text-align: center;
    margin: 15px;
  }
  
  #iconos2 {
    display: flex;
    justify-content: center;
  }



  
  button.navbar-toggler.collapsed {
    color: black !important; /* Cambia el color a negro */
    z-index: 10001; 
  }
a{
   
        color: black; /* Color del texto */
        margin: 20 px;
    
}
main {
    background-image: url('./img/formosa.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}


.carousel-item img {
    max-width: 80%;
    height: 80%;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 70% de transparencia */
    padding: 20px; /* Espaciado interno para el contenido */
    color: black; /* Color del texto */
}

div#recetas {
    background-color: rgb(106, 184, 106);
    background-image: url('./img/cocina.png');
   
}
.card {
    background-color: rgba(255, 255, 255, 0.863); /* Transparencia del 50% (50% opacidad) */
    width: 50%; /* Ancho de la tarjeta */
    margin: 10px auto; /* Centrar la tarjeta en la página horizontalmente */
    padding: 20px; /* Espaciado interno de la tarjeta */
    border-radius: 10px; /* Borde redondeado de la tarjeta */
   
}

/* Media queries para hacer la página responsive */
@media (max-width: 768px) {
    /* Ajustes para pantallas más pequeñas */
    .carousel {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    /* Ajustes para pantallas extra pequeñas */
    .carousel {
        margin-top: 5px;
    }
    p {
        font-size: 9px; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
    }
    h2{
        font-size: 15px;
    }
    #ingredientes{
        font-size: 10px;
    }
    .navbar{
        background-color: cadetblue;
        z-index: 10000;
    }
    #navbarScroll {
       margin-left: 0rem !important;
    }
  
}
.carousel-item img {
    display: block;
    margin: 0 auto;
  }

  header {
    background-color: darkgreen;
    background-size: cover; /* Ajusta la imagen para cubrir todo el tamaño del header */
    background-position: center; /* Centra la imagen de fondo */
    height: 5rem;
}

.d-none {
    display: block !important; /* Cambia display de none a block para hacerlo visible */
}

#iconos {
    margin-left: 20rem;

}
#navbarScroll {
    margin-left: 10rem;
}

#mapa {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
    background-color: azure;
    opacity: 80%;
    border-radius: 10px; /* Redondea los bordes */
    border: 2px solid green; /* Establece un borde de color verde de 2px */
}
#aqui{
    background-color: azure;
    opacity: 80%;
    border-radius: 10px; /* Redondea los bordes */
    border: 2px solid green; /* Establece un borde de color verde de 2px */

}
#contacto {
    display: flex;
    flex-direction: column;
}
.btn.btn-primary {
    background-color: green; /* Cambia el color de fondo a verde */
    margin: 10px; /* Añade un margen de 10px en todos los lados del botón */
}

iframe {
    border-radius: 10px; /* Redondea los bordes */
    border: 2px solid green; /* Establece un borde de color verde de 2px */

}
p {
    text-align: justify; /* Justifica el texto */
    white-space: pre-line; /* Mantiene los saltos de línea */
}

#footer {
    text-align: center;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #footer a {
        font-size: 12px; /* Tamaño de fuente más pequeño */
    }
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    background-color: #8de38d;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: space-around !important;
}



@media (max-width: 768px) {
    #mapa iframe {
        max-width: 100%; /* Establece el ancho máximo del mapa al 100% */
        height: auto; /* Permite que la altura del mapa se ajuste automáticamente */
       }
    #mapa {
    
      width: 80%;
      height: auto;
      margin-left: 50px;
      margin-top: 100px;
    }

  }

  .navbar-toggler {

    background-color: #251d1d;
    border: 1px solid #e3dbdb;
 
}
.navbar-toggler {
 
    background-color: #251d1d;
    border: 1px solid #e3dbdb;
    font-size: 0.3rem;
}
.navbar-brand {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Utiliza una fuente sans-serif para letras juntas */
}
